.toDoContent {
  border-top: 1px solid #333333;
  border-radius: 8px;
  padding: 4rem 1.5rem;
}

.withoutToDo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.withoutToDo img {
  width: 3.5rem;
  height: 3.5rem;
}

.withoutToDo div strong {
  display: block;
  color: var(--gray-300);
}

.withoutToDo div span {
  display: block;
  color: var(--gray-300);
}