.toDo {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 4.5rem;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid #333333;
  border-radius: 8px;
}

.checkbox {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 999px;
  margin-top: 4px;
  box-shadow: 0 0 0 2px var(--blue-300);
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  position: relative;
}

.checkbox:hover {
  background: rgba(78, 167, 223, .1)
}

.checkbox[data-state='checked'] {
  background: var(--purple-500);
  box-shadow: 0 0 0 2px var(--purple-500);
}

.checkbox[data-state='checked']:hover {
  background: var(--purple-300);
  box-shadow: 0 0 0 2px var(--purple-300);
}

.checkIcon {
  width: 1rem;
  height: 1rem;
  font-size: var(--text-sm);
  color: var(--gray-100);

  position: absolute;
  margin-left: 1px;
  margin-top: 1px;

}

.textToDo {
  color: var(--gray-100);
  font-size: var(--text-md);
  line-height: 140%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 632px;
}

.textToDoConcluded {
  color: var(--gray-300);
  font-size: var(--text-md);
  line-height: 140%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-decoration: line-through;
  width: 632px;
}

.toDoTrashButton{
  background: transparent;
  border: 0;
  color: var(--gray-300);
  font-size: var(--text-md);
  padding: 5px; 
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoTrashButton:hover {
  background: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
}

@media (min-width: 601px ) {
  .textToDo{
    width: 632px;
  }
}