.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  margin-top: -1.6875rem;
}

.contentForm {
  display: grid;
  grid-template-columns: 638px 1fr;
  gap: 0.5rem;
  height: 3.375rem;
  margin-bottom: 4rem;
}

.contentForm input{
  display: flex;
  align-items: center;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
}

.contentForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  color: var(--gray-100);
  cursor: pointer;

  background: var(--blue-500);
  border-radius: 8px;
  border: 0;
}

.contentForm button:disabled {
  background: rgba(78, 167, 223, .5);
  cursor: not-allowed;
}

.toDoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.toDoContainer p {
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
}

.toDoContainer span {
  font-size: var(--text-xs);
  font-weight: var(--font-bold);
  color: var(--gray-200);

  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoContainer .toDoCreated, .toDoConcluded {
  display: flex;
  gap: 0.5rem;
  height: 1.1875rem;
}

.toDoCreated {
  color: var(--blue-300);
}

.toDoConcluded {
  color: var(--purple-300);
}

.toDoContent {
  max-height: 26.125rem;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 768px) {

  html {
    font-size: 87.5%;
  }
}